---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div
    class="container mx-auto mt-7
  p-3 bg-slate-400"
    style="view-transition-name: asd;"
  >
    Home
  </div>
  <div class="container mx-auto mt-7
  p-3 bg-slate-400">Home</div>
</Layout>
