---
// import LanguageOptions from "@components/language/LanguageOptions";
---

<header class="[&>*]:px-12 bg-slate-700 text-white">
  <div class="py-2 border-b-4 border-b-slate-500 flex justify-between">
    <p class="text-[10px] font-semibold text-white">
      Welcome to Emarket!Wrap new offers/Anim sit ea nostrud.
    </p>
    <!-- <LanguageOptions client:load /> -->
  </div>
  <nav class="py-3">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
